## Coinbase API
COINBASE_PRO_API_KEY=f2XXXXXXXXXXXXXXXXXXXX47
COINBASE_PRO_API_SECRET=ecXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
COINBASE_PRO_PASSPHRASE=XXXXXXXXXXX
COINBASE_PRO_SANDBOX=false
COINBASE_PRO_CURRENCY=USD

## Redis URL
REDIS_URL=redis://host.docker.internal:6379
REDIS_STREAM_LEN=5000

## Balance
BALANCE_TIMEOUT=30000