## Coinbase API
COINBASE_PRO_API_KEY=f2XXXXXXXXXXXXXXXXXXXX47
COINBASE_PRO_API_SECRET=ecXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
COINBASE_PRO_PASSPHRASE=XXXXXXXXXXX
COINBASE_PRO_SANDBOX=false

## Coinbase Tickers
COINBASE_CURRENCY=USD
COINBASE_TICKERS=BTC-USD,ETH-USD,ADA-USD,DOGE-USD,SOL-USD

## Redis URL
REDIS_URL=redis://host.docker.internal:6379
REDIS_STREAM_LEN=5000

## Balance
BALANCE_TIMEOUT=30000